* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    background-color: darkcyan;
}

.main {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    font-size: 36px;
}

.people-gallery {
    margin: 10px;
}

.card1 {
    width: 500px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px ;
    transition: 400ms;
}

.card1:hover {
    background-color: gold;
}

.left-block {
    margin-top: 10px;
    margin-left: 20px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profession,
.accomplishment {
    margin-left: 20px;
    font-size: 19px;
    margin-bottom: 2px;
}

.profession::first-letter,
.accomplishment::first-letter{
    text-transform: uppercase;
} 


.avatar img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
